/* You can add global styles to this file, and also import other style files */

/*---------------------------------------*/
/* layout */
/* 覆盖修改layout header部分样式 */
.sidebar-nav__item-text {
    font-size: 15px;
}


.layout_header_pro_name {
    position: relative; bottom: -10px; width: 100%; text-align: center; color: #fff; font-size: 18px;
}

.alain-default__collapsed {
    .layout_header_pro_name {
        display: none;
    }
}

/* 覆盖修改sider bar部分样式 */
// .alain-default__aside-inner {
//    background-color: #001529;
// }

// .sidebar-nav__group-title {
//     color: rgb(204, 196, 196);
// }

// .sidebar-nav__item-link {
//    color: rgb(204, 196, 196);
// }

// .sidebar-nav__open {
//     .sidebar-nav__item-text {
//         color: #fff;
//      }
//      .sidebar-nav__sub {
//          background-color: #000;
//      }
//      .sidebar-nav {
//          .sidebar-nav__item-link {
//             color: rgb(204, 196, 196);
//          }
//      }
// }

/*---------------------------------------*/